# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/
obj/
packages/
.vs/
VoiceCommandInstaller/Release Files/CDT.dll
VoiceCommandInstaller/Release Files/CodeBase.dll
VoiceCommandInstaller/Release Files/MySQL.Data.dll
VoiceCommandInstaller/Release Files/OpenDentBusiness.dll
VoiceCommandInstaller/Release Files/Oracle.DataAccess.dll
VoiceCommandInstaller/Release Files/VoiceCommand.dll
!VoiceCommand/bin/Release/VoiceCommand.dll